body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}


.header {
    width: 100%;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}


.link {
    text-decoration: none;
    color: #404bbf
}


.link:hover {
    text-decoration: none;
    color: #404bbf
}


.link:focus {
    text-decoration: none;
    color: #404bbf
}


.logo-head {
    color:#2e2f42;
}


.list {
    list-style: none;
}


.navi {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42
    
}


.addr {
    font-style: normal;
}


.addr-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455
    
}



.sektion-title {
    background-color: #2e2f42;
    width: 100%;
}


.title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

}


.butt {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}


.butt:is(:hover, :focus) {
    background-color: #404BBF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}


:root {
}